// Colors
$bg-light: #F1F1F1;
$bg-dark: #C4C4C4;
$fg-dark: #757575;
$fg-darker: #444444;

$green: #4DAA67;
$primary: $green;
$primary-fg: white;

// Corners
$corners: 6px;

// Shadows
$shadow-pane: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.20);
$shadow-element: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.20);

$width-sm: 400px;
$width-md: 700px;
$width-l: 1200px;

// Distances
$d-1: 8px;
$d-2: 16px;
$d-3: 24px;
$d-4: 32px;
