@import '../styles/variables.scss';

.search-box {
  position: absolute;
  top: 32px;
  left: 320px;
  right: 320px;

  background-color: $bg-light;
  box-shadow: $shadow-element;
  border-radius: $corners;

  padding: 16px;

  input {
    width: 100%;
    font-size: 1.6rem;

    color: $fg-darker;

    background: none;
    outline: none;
    border: none;
  }
}
