@import '../styles/variables.scss';

.search-box {
  position: absolute;
  top: $d-1;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  left: $d-1;
  border-style: groove;
  right: 52px;

  @media (min-width: $width-md) {
    left: 100px;
    right: 100px;

    top: $d-4;
    left: $d-4;
    right: $d-4;

    padding: $d-3;
  }

  @media (min-width: $width-l) {
    left: 320px;
    right: 320px;
  }

  background-color: $bg-light;
  box-shadow: $shadow-element;
  border-radius: $corners;

  padding: $d-2;

  input {
    width: 100%;
    font-size: 1.6rem;

    color: $fg-darker;

    background: none;
    outline: none;
    border: none;
  }
}

p{
  margin: 10px;
  font-size: 18px;
}
