@import '../styles/variables.scss';

$sidebar-width: 300px;
$sidebar-padding: $d-4;

.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -$sidebar-width - $sidebar-padding * 2;
  display: flex;
  z-index: 10;

  transition: left 0.25s;

  &.open {
    left: 0;

    .sidebar-pull {
      box-shadow: none;

      > .icon {
        transform: rotate(180deg);
      }
    }
  }

  .sidebar-container {
    width: $sidebar-width;
    padding: $sidebar-padding;
    background: $bg-light;
    box-shadow: $shadow-pane;
  }

  .sidebar-pull {
    display: flex;
    flex-direction: row;
    align-self: center;
    
    padding: $d-3 $d-1;
    
    background: $bg-light;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: $shadow-pane;
    
    cursor: pointer;
  
    .label {
      writing-mode: vertical-rl;
      text-orientation: mixed;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.1rem;
      color: $fg-dark;
      padding-right: 2px;
    }
    
    .icon {
      padding-top: 50%;
      font-size: $d-3;

      transition: transform 0.3s;
      
      > img {
        height: 25px;
      }
    }
  }
}

