@import 'styles/variables.scss';

body, html {
  font-family: Arial, Helvetica, sans-serif;
}

.fab-overlay {
  position: absolute;

  bottom: $d-4;
  right: $d-4;
}

button.fab {
  text-transform: uppercase;
  padding: $d-3 $d-4;

  color: $fg-dark;
  font-weight: 700;

  background-color: $bg-light;
  outline: none;
  border: none;
  border-radius: 100px;
  box-shadow: $shadow-element;

  cursor: pointer;

  &:active, &:hover {
    color: $primary-fg;
    background-color: $primary;
  }
}

div.button-group {
  display: flex;
  border-radius: $corners;

  width: 100%;
  padding-top: $d-1;

  button {
    text-transform: uppercase;
    font-weight: 600;
    color: $fg-darker;

    cursor: pointer;

    width: 100%;
    padding: 12px;
    
    background-color: $bg-dark;
    outline: none;
    border: none;
    border-radius: 0;

    &:first-of-type {
      border-radius: $corners 0px 0px $corners;
    }

    &:last-of-type {
      border-radius: 0px $corners $corners 0px;
    }

    &.active {
      background-color: $primary;
      color: $primary-fg;
    }
  }
}

div.input {
  input[type=text],
  textarea,
  select {
    display: block;
    width: 100%;

    color: $fg-darker;
    font-size: 1.2rem;

    background: none;
    border: none;
    border-bottom: $fg-dark solid 2px;

    outline: none;

    &:active, &:focus, &:hover {
      border-color: $primary;
    }
  }

  input[type=file] {
    display: block;
  }

  margin-bottom: 36px;
}

.heading {
  text-align: center;
  margin-bottom: $d-1 + $d-4;
} 
  
.label {
  text-transform: uppercase;
  color: $fg-dark;

  font-weight: 600;
  font-size: 1.1rem;
}

.map-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal {
  background-color: $bg-light;
  padding: $d-4 + $d-2;
  box-shadow: $shadow-element;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: 20;

  @media (min-width: $width-md) {
    width: 500px;
    border-radius: $corners;
  
    margin: 0;
    
    top: 50%;
    right: initial;
    left: 50%;
    bottom: initial;

    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

form {
  button[type="submit"] {
    background-color: $primary;
    
    color: $primary-fg;
    border: none;
    outline: none;
    padding: $d-2 $d-3;

    display: block;
    margin-left: auto;
    margin-right: auto;

    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;

    cursor: pointer;
    border-radius: $corners * 2;
  }
}