// Colors
$bg-light: #F1F1F1;
$bg-dark: #C4C4C4;
$fg-dark: #757575;
$fg-darker: #444444;

$green: #4DAA67;
$primary: $green;
$primary-fg: white;

$corners: 6px;

$shadow-pane: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.20);
$shadow-element: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.20);

body, html {
  font-family: Arial, Helvetica, sans-serif;
}

.sidebar {
  background: $bg-light;
  box-shadow: $shadow-pane;

  padding: 32px;
  width: 340px;

  position: absolute;

  top: 0;
  bottom: 0;
  left: -640px;

  z-index: 100;

  &.open {
    left: 0;
  }
}

div.input {
  input[type=text],
  select {
    display: block;
    width: 100%;

    color: $fg-darker;
    font-size: 1.2rem;

    background: none;
    border: none;
    border-bottom: $fg-dark solid 2px;

    outline: none;

    &:active, &:focus, &:hover {
      border-color: $primary;
    }
  }

  margin-bottom: 36px;
}

.heading {
  text-align: center;
  margin-bottom: 48px;
}

.label {
  text-transform: uppercase;
  color: $fg-dark;

  font-weight: 600;
  font-size: 1.1rem;
}

.fab-overlay {
  position: absolute;

  bottom: 32px;
  right: 32px;
}

button.fab {
  text-transform: uppercase;
  padding: 24px 32px;

  color: $fg-dark;
  font-weight: 700;

  background-color: $bg-light;
  outline: none;
  border: none;
  border-radius: 100px;
  box-shadow: $shadow-element;

  cursor: pointer;

  &:active, &:hover {
    color: $primary-fg;
    background-color: $primary;
  }
}

.search-box {
  position: absolute;
  top: 32px;
  left: 320px;
  right: 320px;

  background-color: $bg-light;
  box-shadow: $shadow-element;
  border-radius: $corners;

  padding: 16px;

  input {
    width: 100%;
    font-size: 1.6rem;

    color: $fg-darker;

    background: none;
    outline: none;
    border: none;
  }
}

div.button-group {
  display: flex;
  border-radius: $corners;

  width: 100%;
  padding-top: 8px;

  button {
    text-transform: uppercase;
    font-weight: 600;
    color: $fg-darker;

    cursor: pointer;

    width: 100%;
    padding: 12px;
    
    background-color: $bg-dark;
    outline: none;
    border: none;
    border-radius: 0;

    &:first-of-type {
      border-radius: $corners 0px 0px $corners;
    }

    &:last-of-type {
      border-radius: 0px $corners $corners 0px;
    }

    &.active {
      background-color: $primary;
      color: $primary-fg;
    }
  }
}

.map-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}